.parent__login__div{
    margin: 113px  0 0 0;
}

.msg__div{
    background-image: url("../../../public/assate/wedsitePic/barley_field.jpg");
    padding-bottom: 1.5rem;
}

.login-title{
    font-size: 50px;
    color: rgb(4, 72, 4);
    margin-bottom: 20px;
    line-height: 60px;
    font-family: "Prata",serif;
    text-transform: capitalize;
    
}

.login__form{
    background: rgb(207, 204, 204);
    padding: 20px 0px;
    margin-top:30px;
    width:80%;
}

.tp-login-form-field input{
    color: #7f8080;
    font-size: 16px;
    display: block;
    width: 70%;
    height: 40px;
    background: #ffffff;
    font-weight: 400;
    border: 1px solid #dfe0e5;
    outline: none;
    padding: 20px 20px;
    width: 100%;
    border-radius: 4px;
    position: relative;
  }

  .tp-login-form-field span{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 11px;
}

.form-head{
    font-size: 28px;
    font-family: "prata",serif;
    color:rgb(4, 72, 4);
}

.tp-login-btn{
    background: #45713b;
    color: #ffffff;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 0;
    padding: 10px 20px;
    text-align: center;
    text-transform: capitalize;
    transition: 0.3s;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
}

.tp-login-btn:hover{
    background: #ffffff;
    border-color: rgb(9, 83, 9);
    color: #000;
}

.login__msg{
    /* font-size: 20px; */
    font-family: "Prata",serif;
}

.login__msg a{
    color: rgb(3,144,3);
    text-decoration: none;
    transition: 0.3s;

}

.login__msg a:hover{
    border-bottom: 1px solid rgb(3,144,3);
}